%asset-mask {
  content: '';
  position: absolute;
  top: 0;
  width: 5rem;
  height: 5rem;
}

.card {
  position: relative;
  height: 45rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  border-radius: 2rem;
  border-bottom-left-radius: 16rem;
  border-bottom-right-radius: 16rem;

  background-image: linear-gradient(
    to bottom,
    var(--clr-primary),
    var(--clr-secondary)
  );
  box-shadow: 0 1.5rem 0 var(--clr-grey-100),
    inset 0 -1.5rem 0 hsla(0, 0%, 100%, 0.25), 0 4rem 1rem hsla(0, 0%, 0%, 0.1);

  &::before {
    content: '';
    position: absolute;
    inset: 0;

    filter: blur(5px);
    pointer-events: none;

    background-image: linear-gradient(
      125deg,
      transparent 0%,
      hsla(0, 0%, 100%, 0.2) 49.9%,
      transparent 50%
    );
  }

  &__asset {
    position: relative;
    width: 14rem;
    height: 16rem;

    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;

    background-color: var(--clr-bg);
    box-shadow: 0 1rem 0 hsla(0, 0%, 0%, 0.1),
      inset 0 -0.8rem 0 var(--clr-grey-100);

    transition: all 0.6s;

    &.playing {
      width: 18rem;
      height: 18rem;
    }

    &::before {
      @extend %asset-mask;
      left: -5rem;
      border-top-right-radius: 5rem;
      box-shadow: 1.5rem -1.5rem 0 1.5rem var(--clr-bg);
    }

    &::after {
      @extend %asset-mask;
      right: -5rem;
      border-top-left-radius: 5rem;
      box-shadow: -1.5rem -1.5rem 0 1.5rem var(--clr-bg);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate3d(0, 0, 0);
  }

  &__content {
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    text-align: center;
  }
}

.btn--more {
  margin-top: 0.5rem;
}
